/* General css */

/* Portfolio grid */
h2.project-title { margin:10px 0px;}

/* Portfolio single */
.ig-portfolio-content {}
.ig-portfolio-image { margin:1em 0;}
.ig-portfolio-details { border:1px solid #eee; background:#f9f9f9; padding:0.5em 1em; margin:1em 0; }
.ig-portfolio-details .customer, .ig-portfolio-details .project, .ig-portfolio-details .website { display: block; color:#888; font-size:0.95em; padding:0.25em 0em;  }
.ig-portfolio-meta { font-size:0.95em; color:#888; }


